.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
  }
  
  .button:hover {
    opacity: 0.9;
  }
  