:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: rgba(255, 255, 255, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);
  color: var(--text-color);
}

form {
  background-color: rgba(255, 255, 255, 0.03);

  width: 100%;
  max-width: 500px;

  margin: 32px auto;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 32px;
}

div.input {
  margin-bottom: 24px;
  position: relative;
}

input,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 100%;

  padding: 16px 0;

  border: none;
  border-bottom: 1px solid var(--primary-color);

  background-color: transparent;

  outline: none;

  color: var(--text-color);
  font-size: 1em;
}

button {
  margin-top: 16px;
  background-color: var(--primary-color);
}

input ~ label /*Buscar o irmão de input*/ {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6);

  transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.input span.error {
  display: flex;

  padding: 0;

  background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
  border: 1px solid red;
  padding: 0.4em;
}
